.wrapBtn {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
}

.button {
  color: rgb(101, 22, 22);
  background-color: greenyellow;

  border: none;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.9);
  transition: background-color 0.25s;
}

.button:hover {
  background-color: rgb(86, 138, 7);
}
